# Python cache
__pycache__/
**/__pycache__/

# Logs
logs/
**/logs/

# Pickle files
*.pkl
**/*.pkl

# pt files
*.pt
**/*.pt

# png files
*.png
**/*.png

# pdf files
*.pdf
**/*.pdf

# csv files
*.csv
**/*.csv

data/
**/data/

# sh file
*.sh
**/*.sh

CelebA/experiments

MNIST/archived

MNIST/result
MNIST/plots
MNIST/scripts/vary_synthetic_sample_dis.py
MNIST/scripts/verifier_quality.py

# datasets
CelebA/

# simulation (not committing yet)
simulation/
